src/main/mule/github-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c9e03158-906d-461b-a9c3-03245f484a42" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-cicdFlow" doc:id="1677c682-7dfc-4f7a-841d-91eec649d336" >
		<http:listener doc:name="Listener" doc:id="2f25fc8c-4cb1-4d03-b8ee-6c6952966c65" config-ref="HTTP_Listener_config" path="/demo" />
		<ee:transform doc:name="set payload" doc:id="255c7e3e-c12a-48de-b083-e4b01c677355" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status": "Github cicd pipeline setup test"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="699b1e44-e52b-4c38-a01a-8e46d9feae12" message="#[payload]" />
	</flow>
</mule>
